
#MainBtn {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    overflow: hidden;
    cursor:pointer;
}

#MainBtn:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 251, 253);
}

#MainBtn::before {
    content: "";
    width: 240px;
    height: 202px;
    background-color: rgb(5, 58, 115);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(0%) translateY(-40%) scale(0);
    transition: 0.5s all ease; 
}

#MainBtn:hover::before {
    transform: translateX(-2%) translateY(-40%) scale(100%);

}


#loginIcon {
    color: white;
    border-color: white;
    background-color: rgb(50, 248, 32);
    overflow:hidden;
    border-radius: 5px;
    font-weight: 600;
}

#loginIcon::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(21, 191, 5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.5s all ease;
}

#loginIcon:hover::before {
    transform: translateY(-100%);

}

#loginIcon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(21, 191, 5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: translateY(50%);
    transition: 0.5s all ease;
}

#loginIcon:hover::after {
    transform: translateY(100%);

}

#loginIcon:hover {
    color: rgb(0, 0, 0);
    border-color: rgb(255, 0, 162);
}